* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
}

.card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.card p {
    font-size: 16px;
    margin: 0 0 20px;
    text-align: center;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.card ul li {
    margin: 0 10px;
}

.card button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.badges > button {
    background-color: #007bff;
}

.badges > button:hover {
    background-color: #0056b3;
}

.users > button {
    background-color: #28a745;
}

.users > button:hover {
    background-color: #218838;
}

.logout > button {
    background-color: #dc3545;
}

.logout > button:hover {
    background-color: #c82333;
}

.card button::before {
    margin-right: 10px;
}

.badges button::before {
    content: '🎖️';
}

.users button::before {
    content: '👤';
}

.logout button::before {
    content: '🚪';
}