<!DOCTYPE html>
<html>
  <head>
    <title>Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <p>Skills / Sistemas Web (2024-2025)</p>
  </body>
</html>
