<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Range Explanations</title>
  <link rel="stylesheet" href="../css/leaderboard.css">
  <script src="../js/leaderboard.js"></script>
</head>
<body>
<div class="container">
  <h1>Range Explanations</h1>
  <table id="tabla">
    <thead>
    <tr>
      <th>Range</th>
      <th>Badge</th>
      <th>Required Bitpoints</th>
    </tr>
    </thead>
    <tbody id="table-body">
    <!-- Las filas se generarán dinámicamente aquí mediante el script de abajo -->
    </tbody>
  </table>
</div>

</body>
</html>
