<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/js/authScripts.js"></script>
</head>
<body>
    <h2>Login</h2>
    <h4> Please log in to view that resource</h4>
    <form onsubmit="loginUser()">
        <label for="UserNameL"> UserName: </label> <br>
        <input type="text" id="UserNameL" name="UserNameL" required> <br>
        <label for="PasswordL"> Password: </label> <br>
        <input type="password" id="PasswordL" name="PasswordL" required> <br>
        <button id="Login" type="submit"> Login</button>
        <h4> Don't have an account? <a href="/users/register"> Register here </a> </h4>
    </form>
</body>
</html>