<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/js/authScripts.js"></script>
</head>
<body>
    <h2>Register</h2>

    <form onsubmit="registerUser()">
        <label for="UserNameR"> UserName: </label> <br>
        <input type="text" id="UserNameR" name="UserNameR" required> <br>
        <label for="PasswordR"> Password: </label> <br>
        <input type="password" id="PasswordR" name="PasswordR" required> <br>
        <label for="ConfirmedPasswordR"> Confirm Password: </label> <br>
        <input type="password" id="ConfirmedPasswordR" name="ConfirmedPasswordR" required> <br>
        <button id="Register" type="submit"> Register</button>
    </form>
</body>
</html>