body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.2em;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.2em;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 6px 0;
    font-size: 1em;
}

button {
    border-radius: 4px;
    margin-right: 20px;
}

.button-green {
    padding: 10px 20px;
    background-color: rgb(56, 179, 68);
    color: white;
    border: none;
    cursor: pointer;
}

.button-green:hover  {
    transition: 0.1s;
    background-color: #397f39;
}

.button-green.clicked {
    background-color: #006000;
}

.button-red {
    padding: 10px 20px;
    background-color: rgb(179, 56, 56);
    color: white;
    border: none;
    cursor: pointer;
}

.button-red:hover  {
    transition: 0.1s;
    background-color: #7f3939;
}

.button-red.clicked {
    background-color: #600000;
}

#textbox {
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
}

#resources {
    list-style-position: inside;
    list-style-type: disc;
}

/*Para el hexágono*/
.svg-wrapper {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
}

.hexagon {
    fill: white;
    stroke: black;
    stroke-width: 1px;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.highlight .hexagon {
    transform: scale(1.1);
}

.hex-circle {
    stroke-width: 2; /* Ancho del borde */
}

.hex-circle-red {
    fill: url(#gradient-red); /* Gradiente rojo */
    stroke: #d32323; /* Borde rojo sólido */
}

.svg-wrapper .hex-circle-green {
    fill: url(#gradient-green); /* Gradiente verde */
    stroke: #397f39;; /* Borde verde sólido */
}

/*Para la tabla*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #f7f7f7;
    font-weight: bold;
    color: #555;
}
