body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 75px;
}

.skill-tree {
  text-align: center;
  margin-bottom: 20px;
}

.skill-tree-box {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.description {
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
}

.color-picker {
  text-align: center;
  margin-bottom: 20px;
}

.color-picker .start-here {
  font-weight: bold;
  margin-top: 10px;
}

.custom-svg {
  margin-top: 20px;
  text-align: center;
}

.custom-svg label {
  display: block;
  margin-bottom: 10px;
}

.custom-svg input[type="text"] {
  width: 200px;
  padding: 5px;
  font-size: 1em;
}

.custom-svg button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.custom-svg button:hover {
  background-color: #0056b3;
}

.svg-container {
  display: flex;
  flex-wrap: wrap;
  margin: 70px auto;
  gap: 20px;
  justify-content: center;
  max-width: 600px;
}

.svg-wrapper {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.hexagon {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.highlight .hexagon {
  transform: scale(1.1);
}

.icon-button {
  display: none;
  position: absolute;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.left-button {
  top: 80%;
  left: 8px;
}

.right-button {
  top: 80%;
  right: 8px;
}

.svg-wrapper.highlight .icon-button {
  display: block;
}

@media print {
  .color-picker {
    display: none;
  }
  .custom-svg {
    display: none;
  }
  .print-button {
    display: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(235, 215, 110);
  border-top: 2px solid black;
  text-align: center;
  padding: 20px;
  z-index: 1000;
  font-weight: bold;
}

.hex-circle {
  stroke-width: 2; /* Ancho del borde */
}

.hex-circle-red {
  fill: url(#gradient-red); /* Gradiente rojo */
  stroke: #d32323; /* Borde rojo sólido */
}

.svg-wrapper .hex-circle-green {
  fill: url(#gradient-green); /* Gradiente verde */
  stroke: #397f39;; /* Borde verde sólido */
}