@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #121212;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-right: 15px;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #003eff;
}

.card p {
    margin-bottom: 1rem;
    color: #444;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #121212;
}

.form-control input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #121212;
}

.form-control input:focus {
    border-color: #003eff;
    outline: none;
    box-shadow: 0 0 5px #003eff;
}

.btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #003eff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #002cb8;
}

.github-login {
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
