body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f4f4f4;*/
    background-color: #f00; /* red (for testing) */
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: #0f0; /* green (for testing) */
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.badge {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.badge:hover {
    transform: scale(1.25);
}

/* Add an edit button on the bottom left corner of the badge when hovered */
.badge:hover .edit {
    display: block;
}