<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/errors.css">
    <title>401 - Unauthorized</title>
</head>
<body>
    <div class="container">
        <h1 class="code">401</h1>
        <h2 class="err_title"><%= title %></h2>
        <p class="err_desc"><%= message %></p>
        <a class="btn btn_primary" href="/users/login?redirect=<%= route %>">Go to login</a>
        <a class="btn btn_secondary" href="/">Go back to the home page</a>
        <i class="route">You tried to access <%= route %></i>
    </div>
</body>
</html>